<div class="col-sm-2 sidenav">
    <div class="alert">
    <%= link_to 'Gmail Login', 'auth/google_oauth2' %>
    </div>
    <div class="alert">
    <%= link_to 'Compose', base_ckeditorView_path %>
    </div>

    <div class="alert">
    <%= link_to 'Sent Items', 'auth/google_oauth2' %>
    </div>
</div>